.root {
    background: #000000;
    min-height: 0 !important;
    font-size: small;
    color: #ffffff;
    padding: 8px 32px;
    max-width: 1200px;
    margin: auto;
}

.menuButton {
    margin-right: 16px;
}

.title {
    flex-grow: 1;
}

.logo {
    height: 60px;
    position: absolute;
    top: -30px;
    left: 32px;
    cursor: pointer;
}

.logoMobile {
    height: 50px;
    position: absolute;
    top: -25px;
    left: 32px;
    cursor: pointer;
}

.logoContainer {
    width: 136px;
    position: relative;
}

.logoBg {
    //background: rgb(90, 175, 87);
    background: #10ab4e;
    position: absolute;
    top: -30px;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 2px 2px 16px 16px;
    cursor: pointer;
}

.logoBg img {
    max-height: 100px;
    cursor: pointer;
}
